@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand-accent: #8e44ad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-purple: #492DC2;
  --color-main-bg: #FDFDFD;
  --color-second-bg: #EFEFEF;
  --color-clicked: #000000;
  --color-not-clicked: #F3F3F3;
  --color-first-red: #F73E41;
  --color-first-gray: #929292;
  --color-second-gray: #BFB6B6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-divider {
  border-top: 1px solid #757575 !important;
}

.custom-divider-1 {
  border-top: 1px solid #d9d9d9 !important;
}



.shadow-custom-200 {
  box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025)
    var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-200);
}

.custom-radio .ant-radio-checked .ant-radio-inner {
  @apply border-[#D9D9D9] bg-inherit;
}

.custom-radio .ant-radio-inner::after {
  background-color: var(--primary-color, black);
}

.circle-checkbox .ant-checkbox-inner {
  background-color: inherit;
  position: relative;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  width: 22px;
  height: 22px;
}

.circle-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: transparent;
  border-color: #d9d9d9;
}

.circle-checkbox .ant-checkbox-inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0px;
  background-color: var(--primary-color, black);
  transform: translate(-50%, -50%);
  display: none;
}

.circle-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  display: block;
}

.custom-checkbox-wrapper .custom-checkbox-inner {
  border-radius: 50% !important; 
  width: 18px;
  height: 18px;
}

.custom-checkbox-wrapper .custom-checkbox-inner::after {
  border-radius: 50% !important;
}
